<!DOCTYPE html>
<html>
<head>
  <title>Megacms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="content1"><%= yield :content1%></div>
<div class="content2"><%= yield :content2%></div>

</body>
</html>
