- content_for :css do
  = stylesheet_link_tag 'arvut'
- content_for :js do
  = javascript_include_tag 'arvut'
- content_for :theme do
  = yield
  = placeholder(:page, :header)
  = placeholder(:page, :left_column)
  = placeholder(:page, :middle)
  = placeholder(:page, :right_column)
  = placeholder(:page, :bottom)

= render :template => 'layouts/application'