- content_for :css do
  = stylesheet_link_tag 'arvut'

- content_for :js do
  = javascript_include_tag 'arvut'

- content_for :theme do
  = yield
  .container
    .row
      .span20= placeholder(:page, :header)
    .row
      .span5= placeholder(:page, :left_column)
      .span10
        = placeholder(:page, :middle) do
          .h1 המומלצים
      .span5
        = placeholder(:page, :right_column) do
          .h1 שיעור הקבלה היומי
    .row
      .span20= placeholder(:page, :bottom)

= render :template => 'layouts/application'