!!! 5
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %title
      - if content_for?(:meta_title)
        = yield :meta_title
    = stylesheet_link_tag "frontend_admin/frontend_admin"
    /[if IE 6]
      = stylesheet_link_tag "ie6"
    /[if IE 7]
      = stylesheet_link_tag "ie7"
    = javascript_include_tag "frontend_admin/frontend_admin"
    = csrf_meta_tags
    - if content_for?(:meta_description)
      %meta{'name' => 'description', :content => yield(:meta_description)}/
    = yield :header
  %body
    #body
      = yield
